.terrain{
    background-image: url("./terrainbg.png");
    background-repeat: no-repeat;
    background-size: 50%;
    margin-left: 20px;
    width: 1920px;
    height: 812px;
    
}

.gardien{
    
}

